<body>
<div class="jumbotron">
  <div class="container">
    <h1>Witaj!</h1>
  <p>Dodaj swoją własną bazę drużyn i graczy!</p>
  <%=link_to 'Dodaj drużyny',teams_path, class:'btn btn-warning btn-lg' %>
  </div>
</div>
</body>


